@model PresentationWebSite.UI.WebMvc.Models.Introduction.SkillCategoryModel

@{
    ViewBag.Title = @Model.ActiveTab;
    Layout = "_Show.cshtml";
}

<h2>@Resources.Global.INTRODUCTION_ADD_SKILLCATEGORY_HEADER</h2>
@{
    using (Html.BeginForm("AddSkillCategory", "Introduction", FormMethod.Post, new { model = Model }))
    {
        @Html.EditorFor(m => m.Texts, "IEnumerableText")
        
        @Html.LabelFor(m => m.DisplayPriority,"Priority Order (less is up)")
        @Html.EditorFor(m => m.DisplayPriority)
        <input type="submit" value="Save" />
        <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
    }
}
