@using System.Globalization
@using PresentationWebSite.UI.WebMvc.Helpers.Extensions

@model PresentationWebSite.UI.WebMvc.Models.Introduction.SkillCategoriesModel

@{
    Layout = "~/Views/Introduction/_Show.cshtml";
    ViewBag.Title = @Resources.Global.INTRODUCTION_HEADER_SKILLS;
    bool isAdmin = User.IsInRole("Administrator");
}

<ul class="list-group">
    @foreach (var skillCategory in @Model.Categories.OrderBy(x => x.DisplayPriority))
    {
        <li class="list-group-item">
            <div>@(skillCategory.Texts.GetText(CultureInfo.CurrentUICulture))</div>
            @{
                if (isAdmin)
                {
                    <span>@Html.ActionLink("Delete", "DeleteSkillCategory", new { skillCategoryId = skillCategory.Id })</span>
                }
            }
            <ul>
                @{
                    foreach (var skill in skillCategory.Skills.OrderByDescending(x => x.KnowledgePercent))
                    {
                        <li>
                            <div class="container">
                                @(skill.Texts.GetText(CultureInfo.CurrentUICulture))
                                @{
                                    if (isAdmin)
                                    {
                                        <span>@Html.ActionLink("Delete", "DeleteSkill", new { skillId = skill.Id })</span>
                                    }
                                }
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@(skill.KnowledgePercent)" aria-valuemin="0" aria-valuemax="100" style="width:@(skill.KnowledgePercent)%">
                                        <span class="sr-only">@(skill.KnowledgePercent.ToString())% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    if (isAdmin)
                    {
                        <li>@Html.ActionLink("Add", "AddSkill", new { skillCategoryId = skillCategory.Id })</li>
                    }
                }
            </ul>
        </li>
                    }
    @{if (isAdmin)
        {
            <li>@Html.ActionLink("Add", "AddSkillCategory")</li>
        }
    }
</ul>
