@using System.Globalization
@using PresentationWebSite.UI.WebMvc.Helpers.Extensions
@model PresentationWebSite.UI.WebMvc.Models.Introduction.HobbiesModel

@{
    Layout = "~/Views/Introduction/_Show.cshtml";
    ViewBag.Title = @Resources.Global.INTRODUCTION_HEADER_HOBBIES;
    bool isAdmin = User.IsInRole("Administrator");
}
<div class="row">
    @foreach (var hobby in @Model.Hobbies)
    {
        <div class="col-md-6 col-sm-12">
            @{
                if (isAdmin)
                {
                    <span>@(Html.ActionLink("Delete", "DeleteHobby", new { hobbyId = hobby.Id }))</span>
                }
            }
            <div class="hovereffect">
                <img class="hobby-img-responsive" src=@Url.Action("GetHobbyImage", "Introduction",new {id = hobby.Id}) alt="@hobby.Texts.GetText(CultureInfo.CurrentUICulture)">
                <div class="overlay">
                    <h2>@(hobby.Texts.GetText(CultureInfo.CurrentUICulture))</h2>
                </div>
            </div>
        </div>
                }
    @{
        if (isAdmin)
        {
            <span>@Html.ActionLink("Add", "AddHobby")</span>
        }
    }

</div>