@using System.Globalization
@using PresentationWebSite.UI.WebMvc.Helpers.Extensions

@model PresentationWebSite.UI.WebMvc.Models.Introduction.GraduationsModel

@{
    Layout = "~/Views/Introduction/_Show.cshtml";
    ViewBag.Title = @Resources.Global.INTRODUCTION_HEADER_GRADUATIONS;
    bool isAdmin = User.IsInRole("Administrator");
}

<ul class="list-group">
    @foreach (var grade in @Model.Graduations.OrderByDescending(x => x.ObtainingDateTime))
    {
        <li class="list-group-item">
            <span class="label label-default">@(grade.ObtainingDateTime.Year)</span>
            <div>
                @(grade.Texts.GetText(CultureInfo.CurrentUICulture))
                @{
                    if (isAdmin)
                    {
                        <span>@(Html.ActionLink("Delete", "DeleteGraduation", new { gradeId = grade.Id }))</span>
                    }
                }
            </div>
        </li>
    }
    @{
        if (isAdmin)
        {
            <li>@Html.ActionLink("Add", "AddGraduation")</li>
        }
    }
</ul>
