@using System.Globalization
@using PresentationWebSite.UI.WebMvc.Helpers.Extensions
@model PresentationWebSite.UI.WebMvc.Models.Introduction.HobbiesModel

@{
    Layout = "~/Views/Introduction/_Show.cshtml";
    ViewBag.Title = @Resources.Global.INTRODUCTION_HEADER_HOBBIES;
    bool isAdmin = User.IsInRole("Administrator");
}

<ul class="list-group">
    @foreach (var hobby in @Model.Hobbies)
    {
        <li class="list-group-item">
            <div>
                @(hobby.Texts.GetText(CultureInfo.CurrentUICulture))
                @{
                    if (isAdmin)
                    {
                        <span>@(Html.ActionLink("Delete", "DeleteHobby", new { hobbyId = hobby.Id }))</span>
                    }
                }
            </div>
        </li>
                    }
    @{
        if (isAdmin)
        {
            <li>@Html.ActionLink("Add", "AddHobby")</li>
        }
    }
</ul>
